@use "../globalSettings";

.background {
  background-color: #23283A;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: {
    auto-columns: auto;
    auto-rows: auto;
    template-areas: "nav" globalSettings.myRepeat(8, "section") "footer";
  }

  .nav-bar {
    width: auto;
    height: auto;
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    grid-area: nav;

    * {
      margin: 0 2%;
    }

    .nav-logo-link {
      height: 100%;
      display: flex;
      align-items: center;

      img {
        height: 85%;
      }
    }

  }


  section {
    grid-area: section;
  }

  .footer {
    grid-area: footer;
    background-color: #232323;
    color: white;
    border: {
      width: 0.2vh 0 0 0;
      style: solid;
      color: black;

    };
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .copyright {
      font: {
        size: 1.5rem;
        family: "OCR A Extended";
      }
    }

    .santos {
      font: {
        family: globalSettings.$RuthlessWreckinOne-font-family;
      };
    }

  }
}