@use "../globalSettings";

.home {
}

.tr {
  scroll-margin-top: globalSettings.$table-height;
}

.status {
  width: 0.5vw;
}

.created {
  background-color: orange;
}

.in-progress {
  background-color: blue;
}

.finished {
  background-color: limegreen;
}