@use "../globalSettings";

$table-height: 8vh;

.home-section {

  .table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    font: {
      size: 150%;
      family: globalSettings.$OCRAEXT-font-family;
    };

    * {
      height: $table-height;
      text-align: left;
    }

    .table-head {
      position: sticky;
      top: 0;
      background-color: #515151;
    }

    .table-body {

      tr {

        &:nth-child(2n) {
          background-color: #EAEAEA;
        }

        .status {
          width: 0.5vw;
        }

        .created {
          background-color: orange;
        }

        .in-progress {
          background-color: blue;
        }

        .finished {
          background-color: limegreen;
        }
      }

      background-color: #BFBFBF;
    }
  }
}