@use "../globalSettings";

.login-background {
  background: {
    image: url("background.svg");
    repeat: no-repeat;
    attachment: fixed;
    position: center top;
    size: cover;
  };
  width: 100vw;
  height: 100vh;
}

.login-header {
  width: 100%;
  height: 10%;
  background-color: #000000;
}

.login-section {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: globalSettings.$OCRAEXT-font-family;
}

.login-form {
  width: 50%;
  height: 60%;
  background-color: #CECECE;
  border-radius: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.login-password, .login-username {
  @include globalSettings.login-input;
  width: 80%;
  background-color: white;
  padding-left: 3%;
}

.login-label {
  font-size: 250%;
  text-align: center;
}

.login-button {
  @include globalSettings.login-input;
  padding: 0 5%;
  background-color: #697391;
  color: white;
  transition: {
    property: background-color;
    duration: 0.4s;
  };

  &:hover {
    background-color: #8b99bd;
  }

  &:active {
    transition: {
      property: background-color;
      duration: 0.1s;
    };
    background-color: #3d4256;
  }
}