.profile-section {

}
.user{
  border: 3px solid rgb(160,160,160);
  border-radius: 20px;
  padding: 5px;
  padding-left: 1%;
  margin-right: 50%;
  margin-left: 1%;
  background-color: #EAEAEA;
  color: rgb(0, 0, 0);

}
.first-name{
  border: 3px solid rgb(160,160,160);
  border-radius: 20px;
  padding: 5px;
  padding-left: 1%;
  margin-right: 50%;
  margin-left: 1%;
  background-color: #EAEAEA;
  color: rgb(0, 0, 0);
}
.last-name{
  border: 3px solid rgb(160,160,160);
  border-radius: 20px;
  padding: 5px;
  padding-left: 1%;
  margin-right: 50%;
  margin-left: 1%;
  background-color: #EAEAEA;
  color: rgb(0, 0, 0);
}
.gaymail{
  border: 3px solid rgb(160,160,160);
  border-radius: 20px;
  padding: 5px;
  padding-left: 1%;
  margin-right: 50%;
  margin-left: 1%;
  background-color: #EAEAEA;
  color: rgb(0, 0, 0);
}
.role{
  font-family: "OCRA";
  padding-left: 1%;
}
.GoBack{
  font-family: "OCRA";
  margin-left: 1%;
  text-align: center;
  cursor: pointer;
}
.edit-style{
  color: rgb(130,210,255);
  border: 3px solid rgb(160,160,160);
  border-radius: 20px;
  padding: 5px;

}