$OCRAEXT-font-family: "OCRA";

@font-face {
  font-family: 'OCRA';
  src: url("OCRAEXT.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin login-input {
  height: 12%;
  border: {
    color: black;
    width: 0.1rem;
    style: solid;
    radius: 2rem;
  };
  font-weight: 500;
}