@use 'sass:list';
@use 'sass:string';

$table-height: 8vh;
$OCRAEXT-font-family: "OCRA";
$RuthlessWreckinOne-font-family: "RuthlessWreckinOne";
$background-width: 100vw;
$background-height: 100vh;
$web-center-height: 80vh;
$nav-height: 10vh;
$footer-height: 10vh;

@font-face {
  font-family: 'OCRA';
  src: url("OCRAEXT.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RuthlessWreckinOne";
  src: url("RuthlessWreckinOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin login-input {
  height: 12%;
  border: {
    color: black;
    width: 0.1rem;
    style: solid;
    radius: 2rem;
  };
  font-weight: 500;
}

@function myRepeat($n, $word) {
  $result: null;
  @for $_ from 1 through $n {
    $result: append($result, $word);
  }
  @return $result;
}

@function listToString($list, $separator: " ") {
  $result: "";
  @each $val in $list {
    $result: $result + $val + $separator;
  }
  @return $result;
}